<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title>Cinema: Film</title>
        <link rel="icon" href="{{url_for('static',filename='favicon.png')}}" type="image/x-icon"/>
        <link rel="stylesheet" href="{{url_for('static',filename='styles/w3.css')}}"/>
        <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
            
        th, td {
            text-align: left;
            padding: 8px;
        }
            
        tr:nth-child(even) {
            background-color: #D6EEEE;
        }
        </style>
    </header>
    <body>
        <div class="w3-card-4">
            <header class="w3-container w3-blue">
                <h1>{{data['title']}}</h1>
            </header>

            <div class="w3-container">
                <p>
                    Title: {{ data['title'] }}
                </p>
                <table>
                    <tr>
                        <th>Duration</th>
                        <td>{{data['duracao']}}</td>
                    </tr>
                    <tr>
                        <th>Release Date</th>
                        <td>{{data['date']}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            {% for actor in data['description'] %}
                                {{actor}}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Starring</th>
                        <td>
                            {% for actor in data['actor'] %}
                                <a href="/actors/{{actor.split('/')[-1]}}">{{actor.split('/')[-1]}}</a>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>
                                {% for actor in data['coun'] %}
                                    {{actor.split('/')[-1]}}
                                {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Directors</th>
                        <td>
                                {% for actor in data['dir'] %}
                                    <a href="/directors/{{actor.split('/')[-1]}}">{{actor.split('/')[-1]}}</a>
                                {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>ScreenWriters</th>
                        <td>
                                {% for actor in data['scwr'] %}
                                    <a href="/screenwriters/{{actor.split('/')[-1]}}">{{actor.split('/')[-1]}}</a>
                                {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Genre</th>
                        <td>
                                {% for actor in data['gen'] %}
                                    {{actor.split('/')[-1]}}
                                {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Musicians</th>
                        <td>
                                {% for actor in data['comp'] %}
                                    <a href="/musicians/{{actor.split('/')[-1]}}">{{actor.split('/')[-1]}}</a>
                                {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Soundtrack</th>
                        <td>
                                {% for actor in data['mus'] %}
                                    {{actor.split('/')[-1]}}
                                {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Producers</th>
                        <td>
                                {% for actor in data['pr'] %}
                                    <a href="/producers/{{actor.split('/')[-1]}}">{{actor.split('/')[-1]}}</a>
                                {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Writers</th>
                        <td>
                                {% for actor in data['wr'] %}
                                    <a href="/writers/{{actor.split('/')[-1]}}">{{actor.split('/')[-1]}}</a>
                                {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Books</th>
                        <td>
                                {% for actor in data['book'] %}
                                    {{actor.split('/')[-1]}}
                                {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
            <footer class="w3-container w3-purple">
                <h5>Gerado por RPCW2024</h5>
            </footer>

        </div>
    </body>
        
</html>